@font-face
{
    font-family: LeagueGothic;
    src: url('leaguegothic-regular-webfont.ttf')
} 

h1, h2, h3, h4, h5, h6, h1 small {
    font-family: LeagueGothic;
    color: #f0dfaf;
    text-shadow: 3px 3px 0px black;
}

body{
    background: url('bg2.png');
    padding: 25px;
    color: #eee;
    font-size: 22px;
    font-family: "Droid sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container > div {
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
    border: 1px solid #333;
    margin-top: 50px;
}

#title {
    font-size: 112px;
}

#title small {
    color: white;
}

a:link, a:hover, a:active, a:visited {
    color: #709080;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}