body {
    font-size: 16px;
}

a.headerlink {
    visibility: hidden;
}

h1:hover .headerlink, h2:hover .headerlink, h3:hover .headerlink, h4:hover .headerlink, h5:hover .headerlink, h6:hover .headerlink {
    visibility: visible;
}

#footer {
    opacity: 0.3;
    transition: 700ms;
    margin-top: 20px;
    font-size: 0.7;
}

#footer:hover {
    opacity: 1;
}

div.admonition {
    margin: 20px 0px;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #EEE;
    color: #333;
}

div.admonition.danger {
    background-color: #F2DEDE;
    border-color: #B94A48;
}

div.admonition.note {
    background-color: #D9EDF7;
    border-color: #3A87AD;
}

div.admonition.warning {
    background-color: #FCF8E3;
    border-color: #C09853;

}

div.admonition.hint {
    background-color: #DFF0D8;
    border-color: #468847;
}
