@font-face {
  font-family: 'League Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(leaguegothic-regular-webfont.ttf);
}

body {
    background: black;
    color: white;
    padding: 10px;
    background: url('subtle_carbon.png')
}

h1, h2, h3, h4, h5 {
    font-family: 'League Gothic', Impact, sans;
    font-weight: normal;
    color: white;
    margin: 0px;
}

/* TOP BAR */

#topbar {
}

#title, #helpline {
    -moz-transition: 0.25s;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

.hightlight-title {
    color: cyan;
}

.hightlight-action {
    color: magenta;
}

.hightlight-helpline {
    color: yellow;
}

#playground {
    display: none;
}

#playground div {
    width: 250px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-block;
    margin: 5px;
}

#playground div:hover {
    background-color: rgba(255, 255, 255, 1);
}
