@font-face {
  font-family: 'League Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(leaguegothic-regular-webfont.ttf);
}

ul {  /* bug in foundation theme ? */
    padding-left: 1em;
}

body {
    color: white;
    background: url('noisy_net.png')
}

h1, h2, h3, h4, h5 {
    font-family: 'League Gothic', Impact, sans;
    font-weight: normal;
    color: white;
    margin: 0px;
}

/* TOPBAR */

.block {
    background: #171C21;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
    padding-left: 15px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5), -1px -1px 0px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-item {
    text-align: center;
    font-family: 'League Gothic', Impact, sans;
    font-size: 2em;
    color: #6F6F6F;
}

.nav-item.active {
    color: white;
}

.task {
    padding-top: 10px;
    padding-bottom: 10px;
}